version: '2.1'

networks:
  ops-net:
    driver: bridge

volumes:
    prometheus_data: {}
    grafana_data: {}
    influxdb_data: {}
    jenkins_data: {}
    postgresql_data: {}
    gitlab_data: {}
    gitlab_logs: {}

services:

  prometheus:
    image: prom/prometheus:v1.8.2
    container_name: prometheus
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '-config.file=/etc/prometheus/prometheus.yml'
      - '-storage.local.path=/prometheus'
      - '-web.console.libraries=/etc/prometheus/console_libraries'
      - '-web.console.templates=/etc/prometheus/consoles'
      - '-alertmanager.url=http://alertmanager:9093'
      - '-storage.local.target-heap-size=1073741824'
      - '-storage.local.retention=200h'
    restart: unless-stopped
    expose:
      - 9090
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    volumes:
      - ./alertmanager/:/etc/alertmanager/
    command:
      - '-config.file=/etc/alertmanager/config.yml'
      - '-storage.path=/alertmanager'
    restart: unless-stopped
    expose:
      - 9093
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"

  nodeexporter:
    image: prom/node-exporter:v0.15.1
    container_name: nodeexporter
    user: root
    privileged: true
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped
    expose:
      - 9100
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"

  cadvisor:
    image: google/cadvisor:v0.28.0
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /cgroup:/cgroup:ro
    restart: unless-stopped
    ports:
      - 8080:8080
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    volumes:
      - influxdb_data:/var/lib/influxdb
    restart: unless-stopped
    ports:
      - "8086:8086"
      - "8089:8089"
      - "8090:8090"
    environment:
      - INFLUXDB_DATA_ENGINE=tsm1
      - INFLUXDB_REPORTING_DISABLED=true
      - INFLUXDB_HTTP_BIND_ADDRESS=:8086
      - INFLUXDB_DB=influxdb
      - INFLUXDB_ADMIN_ENABLED=true
      - INFLUXDB_ADMIN_USER=${ADMIN_USER:-admin}
      - INFLUXDB_ADMIN_USER_PASSWORD=${ADMIN_PASSWORD:-admin}
      - INFLUXDB_UDP_ENABLED=true
      - INFLUXDB_UDP_BIND_ADDRESS=:8089
      - INFLUXDB_UDP_DATABASE=gitlab
    entrypoint: /init-influxdb.sh
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"

  grafana:
    image: grafana/grafana:4.6.2
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/datasources:/etc/grafana/datasources
      - ./grafana/dashboards:/etc/grafana/dashboards
      - ./grafana/setup.sh:/setup.sh
    entrypoint: /setup.sh
    environment:
      - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_INSTALL_PLUGINS=grafana-clock-panel,briangann-gauge-panel,natel-plotly-panel,grafana-simple-json-datasource
    restart: unless-stopped
    expose:
      - 3000
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"

  caddy:
    image: stefanprodan/caddy
    container_name: caddy
    ports:
      - "3000:3000"
      - "9090:9090"
      - "9093:9093"
    volumes:
      - ./caddy/:/etc/caddy/
    environment:
      - ADMIN_USER=${ADMIN_USER:-admin}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
    restart: unless-stopped
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"

  jenkins:
    image: jenkins/jenkins:latest
    container_name: jenkins
    ports:
      - "8081:8080"
      - "50001:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JENKINS_HOST_HOME="/data/jenkins"
    restart: unless-stopped
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"

  postgresql:
    image: postgres:latest
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${GITLAB_DB_USER:-gitlab}
      - POSTGRES_PASSWORD=${GITLAB_DB_ADMIN_PASSWORD:-gitlab}
      - POSTGRES_DB=gitlabhq_production
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"
  # the following are hints on what volumes to mount if you want to persist data
    volumes:
    - postgresql_data:/var/lib/postgresql:rw

  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: unless-stopped
    hostname: 'localhost'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        postgresql['enable'] = false
        gitlab_rails['db_username'] = "${GITLAB_DB_USER:-gitlab}"
        gitlab_rails['db_password'] = "${GITLAB_DB_ADMIN_PASSWORD:-gitlab}"
        gitlab_rails['db_host'] = "postgresql"
        gitlab_rails['db_port'] = "5432"
        gitlab_rails['db_database'] = "gitlabhq_production"
        gitlab_rails['db_adapter'] = 'postgresql'
        gitlab_rails['db_encoding'] = 'utf8'
        redis['enable'] = false
        gitlab_rails['redis_host'] = 'redis'
        gitlab_rails['redis_port'] = '6379'
        external_url 'http://localhost:10080'
        gitlab_rails['gitlab_shell_ssh_port'] = 10022
        # Add any other gitlab.rb configuration here, each on its own line
    networks:
      - ops-net
    labels:
      org.label-schema.group: "ops"
    ports:
      - '10080:10080'
      - '10022:22'
    volumes:
      - gitlab_logs:/var/log/gitlab
      - gitlab_data:/var/opt/gitlab
      - ./gitlab/config:/etc/gitlab
